<p class = "flash"><%= notice %><%= alert %></p>
<% @pictures.each do |picture| %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title"><%= picture.title %></h2>
      <p class="text-right">投稿者:<%= picture.user.name %>  <%= picture.created_at %></p>
    </div>
    <div class="panel-body padding10px">
      <div class="field text-center">
        <%= picture_img(picture) if picture_img(picture) %>
      </div>
    </div>
    <div class="panel-footer">
      <p><%= picture.content %></p>
      <%= link_to "投稿を編集する", edit_picture_path(picture.id) %>
      <%= link_to "投稿を削除する", picture_path(picture.id), method: :delete, data: { confirm: "本当に削除していいですか？" } %>
    </div>
  </div>

<% end %>

<% urls = flicker_urls %>
<% urls.each do |url| %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">test title</h2>
      <p class="text-right">投稿者:野良くま</p>
    </div>
    <div class="panel-body padding10px">
      <div class="field text-center">
        <%= image_tag(url) %>
      </div>
    </div>
    <div class="panel-footer">
        <p>くまくまくまくまくまくま</p>
    </div>
  </div>

<% end %>
