<!DOCTYPE html>
<html>
<head>
  <title>Instagma</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= link_to "トップに戻る", root_path %>
  <% if user_signed_in? %>
    <%= link_to 'マイページ', edit_user_registration_path %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "ログイン", new_user_session_path %>
    <%= link_to "サインアップ", new_user_registration_path %>
  <% end %>
</header>
<%= yield %>

</body>
</html>
